<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script
   src="https://code.jquery.com/jquery-3.3.1.min.js"
   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<body>
   <style>
      html,body{
      height:100%;
      width:100%;
      }
      h3{
      font-family: 'Dancing Script', cursive;
      }
      nav{
      height:150px;
      }
      li{
      margin:3px;
      }
      i{
      color:gold;
      }
      mt-6{
      margin-top:100px;
      }
      .rooms{
      height:150px;
      width:100%;
      }
   </style>
   <nav class=" blue-grey lighten-5">
      <div class="nav-wrapper">
         <a href="#" class="brand-logo"><img class="brand-logo" style="height:200px; width:200px;"src="https://images.vexels.com/media/users/3/131725/isolated/preview/06ebd222648112be03fba98587ff2902-philadelphia-skyline-silhouette-by-vexels.png" alt=""></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a style="text-decoration: white"  class="black-text tab" href="/">Home</a></li>
            <li> <a style="text-decoration: white" class="black-text tab" href="/showreservations">Reservations</a></li>
            <li><a style="text-decoration: white"  class="black-text tab" href="/reservation">Book Room</a></li>
            <li> <a style="text-decoration: white" class="black-text tab" href="api/reservation">Rooms API</a></li>
         </ul>
      </div>
   </nav>
   <br>
   <div class="container mt-5">
      <table class="table table-bordered">
         <thead class="thead-dark">
            <tr>
               <th class="thead-light">First name</th>
               <th class="thead-light">Last name</th>
               <th class="thead-light">Arrival</th>
               <th class="thead-light">Departure</th>
            </tr>
      </table>
   </div>
</body>
</div>
<script>
   $.get('/api/reservation').then(data=>{
      data.forEach(data=>{
   let table = $(
   	`   <tr>
   		<td>${data.firstname}</td>
   		<td>${data.lastname}</td>
   
   		<td>${data.arrival}</td>
   		<td>${data.departure}</td>
                   </tr>
   	`
   	)
   $('table').append(table)
   
   })
   })
</script>